.detail-quiz-container {
  display: flex;
  height: 1200px;

  .left-content {
    border: 1px solid red;
    flex: 2;
    width: 70%;
    .title {
    }
    .quiz-body {
      & img {
        width: 80%;
        object-fit: cover;
      }
    }
    .quiz-content {
      .q-image {
        margin-bottom: 20px;
        & img {
          width: 80%;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .question {
        margin-bottom: 20px;

        & h6 {
          font-size: 18px;
        }
      }
      .answers {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      gap: 20px;
      .finish {
        background-color: #198754;
        &:hover {
          background-color: #157347;
        }
      }
      & button {
        font-size: 18px;
        border: none;
        background-color: #ea0000a9;
        color: white;
        padding: 10px 30px;
        border-radius: 8px;

        &:hover {
          background-color: #ea0000;
        }
      }
    }
  }
  .right-content-container {
    border: 1px solid green;
    flex: 1;
    width: 30%;
    .main-timer {
      border: 1px solid red;
      padding: 10px 20px;
      text-align: center;
      font-size: 26px;
    }
    .main-questions {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
      gap: 15px;

      .question {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        border: 1px solid rebeccapurple;
        cursor: pointer;

        &:hover {
          color: green;
        }
        &.selected {
          background-color: #eee;
        }
        &.clicked {
          color: red;
        }
      }
    }
  }
}
