.no-caret .dropdown-toggle::after {
  display: none !important;
}
.admin-container {
  // display: flex;
  position: relative;
  .admin-header {
    // border: 1px solid red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    // position: relative;
    .sidebar-header {
      height: 64px;
      min-height: 64px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 0px 20px;

      & > div {
        width: 100%;
        overflow: hidden;
      }
    }
    .sidebar-toggle {
      font-size: 24px;
      width: 40px;
      min-width: 40px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      display: inline-block;

      margin-right: 10px;
      cursor: pointer;
    }
    .logo-q {
      width: 35px;
      min-width: 35px;
      height: 35px;
      min-height: 35px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 8px;
      color: white;
      font-size: 24px;
      font-weight: 700;
      background: linear-gradient(70deg, #ffe5f1, #f042ff, #7226ff);
      margin-right: 10px;
      margin-left: 4px;
    }
    .logo-title {
      margin: 0px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: #ff49c1;
    }

    .setting {
      padding: 0 20px;
      // position: absolute;
      // right: 0;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .admin-content {
    display: flex;
    // flex-direction: column;
    top: 68px;
    position: relative;
    .admin-sidebar {
    }

    .admin-main {
      flex: 1;
    }
  }
}
