body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar-nav {
      .nav-link {
        &.active {
          color: #018486;
        }
      }
    }

    .btn-login {
      margin-right: 10px;
      border: 2px solid transparent;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 8px;
      position: relative;
      background: linear-gradient(white, white) padding-box,
        linear-gradient(45deg, #ff49c1, #7b2ff7) border-box;
      overflow: hidden;
      z-index: 1;
      color: black;

      &::after {
        background: linear-gradient(45deg, #ff49c1, #7b2ff7);
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0);
        transition: 0.3s transform linear;
        z-index: -1;
      }

      &:hover::after {
        transform: translate(0, 0);
      }
      &:hover {
        color: white;
      }
    }
    .btn-signup {
      background-color: black;
      color: white;
      margin-right: 10px;
      border: 2px solid transparent;
      padding: 10px 30px;
      font-size: 16px;
      border-radius: 8px;
      &:hover {
        opacity: 0.85;
        transition: all 0.2s linear;
      }
    }
  }
}

.homepage-container {
  .btn-get-started {
    padding: 20px;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(215deg, #ffe5f1, #f042ff, #7226ff);
    border: none;
    border-radius: 8px;
    color: #eee;
    transition: all 0.25s ease-in-out;
    &:hover {
      opacity: 0.8;
      border-radius: 16px;
    }
  }
  @media (width: 1024px) {
    .homepage-content {
      margin: 0 !important;

      .homepage-content-all {
        padding-left: 10px !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
      }
      .homepage-title p {
        font-size: 24px !important;
        font-weight: 600;
      }
      .homepage-text {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
      }
    }
  }
  @media (max-width: 991px) {
    .homepage-video {
      order: 2 !important;
      width: 100% !important;
    }
    .homepage-content {
      order: 1 !important;
      display: flex;
      justify-content: center !important;

      .homepage-content-all {
        .homepage-title {
          text-align: center !important;
        }

        .homepage-text,
        .btn-homepage {
          display: flex;
          justify-content: center;
        }

        .homepage-text p {
          text-align: center;
        }

        .btn-get-started {
          padding: 10px !important;
        }
      }
    }
  }
  // @media (max-width: 576px) {
  //   .homepage-content {
  //     padding: 12px !important;
  //   }
  // }
}
